body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000000;
}

.yellow-box{
  background-color: #FFFF00;
}

.black-box{
  background-color: #000000;
}

.bookmark{
  color: #FFFFFF;
}